html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    line-height: 1.4;
    font-size: 100%;
    background-color: white;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
h1 {
    font-size: xx-large;
    
}


a:hover {
    color: #0e1215;
    background-color: white;
}

.bg-white {
    background-color: white;
}
.bg-light-grey {
    background-color: #fafafa;
}
.bg-black {
    background-color: black;
}
.bg-dark-grey {
     display: flex;
     background-color: #0e1215;
}
.article-box {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
  }

.boxed-article {
    
    text-align: left;
    width: 1280px;
    background-color: white;
    margin-left: 2em;
    margin-right: 2em;

}
.button {

    font-family: 'Open Sans', sans-serif;
    background-color: black;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    color: white;
    font-size: larger;
    font-weight: bold;
   
}

.button:hover {
    background-color: white;
    color: black;

}


#services {
    text-align: center;
}
